@{
    var menuModel = new MenuModel
    {
        BilgeAdamTarget = "_blank"
    };
}

@model Musteri

<h4>Müşteri Detay</h4>
<hr />

<div class="row">
    <div class="col-3">
        <partial name="Menu.cshtml" model="menuModel" />
    </div>
    <div class="col-9">
        @*<table class="table">
            <tr>
                <th>
                    Adı:
                </th>
                <td> @Model.Adi</td>
            </tr>
            <tr>
                <th>
                    Ülke:
                </th>
                <td> @Model.Ulke </td>
            </tr>
            <tr>
                <th>
                    Sipariş sayısı:
                </th>
                <td>
                    @Model.SiparisSayisi / @ViewData["ToplamStok"] adet
                </td>
            </tr>
        </table>*@
        <partial name="Musteri.cshtml" model="Model" />
    </div>
</div>