@{

}

@model MenuModel

<ul>
    <li>
        <a href="https://google.com" target="_blank">Müşteri Geçmişi</a>
    </li>
    <li>
        <a href="https://www.gib.gov.tr/" target="_blank"> Gib</a>
    </li>
    <li>
        <a href="https://turkiye.gov.tr" target="_blank">E-devlet</a>
    </li>
    <li>
        <a href="https://bilgeadam.com" target="@Model.BilgeAdamTarget">Bilge Adam</a>
    </li>
</ul>