@{
}

@model Musteri

<ul class="list-group">
    <li class="list-group-item"><b>Adı:</b> @Model.Adi</li>
    <li class="list-group-item"><b>Ülke:</b> @Model.Ulke </li>
    <li class="list-group-item"><b>Sipariş Sayısı:</b> @Model.SiparisSayisi </li>
</ul>