@{
}

@model FormModel

<ul>
    <li>Adı: @Model.MusteriAdi</li>
    <li>Adres: @Model.Adresi</li>
    <li>Kayıt Tarihi: @Model.KayitTarihi</li>
    <li>Sipariş Sayısı: @Model.SiparisSayisi</li>
</ul>